*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-weight: 700;
}

body{
    background-color: hsl(0, 0%, 86%);
    margin: 1rem;

    .container{
        background-color: white;
        border-radius: 15px;
        border-bottom-right-radius: 8rem;
        margin-top: 5rem;
        padding: 2rem;

        .date-form{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            h5{
                margin-bottom: 0;
                color: hsl(0, 1%, 44%);
                font-size: 16px;
                letter-spacing: 3px;
            }

            input{
                width: 100%;
                font-size: 32px;
                padding: .5rem;
                outline: none;
                border: 1px solid hsl(0, 0%, 86%);
                border-radius: 8px;
                cursor: pointer;
                

                &:hover{
                    border-color: hsl(259, 100%, 65%);
                }

                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &::placeholder{
                    font-size: 32px;
                }
            }

            p{
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                width: 100%;
            }
        }

        .rule{
            margin-top: 3rem;

            img{
                background-color: hsl(259, 100%, 65%);
                border-radius: 50%;
                padding: 1rem;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                transition: .3s;

                &:hover{
                    background-color: black;
                }
            }
        }

        .result{
            p{
                font-style: italic;
                font-size: 3rem;
                font-weight: 800;
                margin: 0;
            }

            span{
                color: hsl(259, 100%, 65%);
            }
        }
    }
}

@media screen and (min-width: 750px){
    body{
        .container{
            margin: 12rem;
            //padding: 2rem 8rem 2rem 2rem;

            .date-form{
                gap: 5px;
                padding-right: 5rem;

                .day-cont{
                    width: 100%;
                }
                .month-cont{
                    width: 100%;
                }
                .year-cont{
                    width: 100%;
                }

                input{
                    width: 70%;
                }
            }

            .rule{
                padding-right: 2rem;
                img{
                    position: relative;
                    top: 50%;
                    left:100%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}